<?xml version="1.0" encoding="UTF-8"?>
 
<phpunit bootstrap="./vendor/autoload.php"
        convertWarningsToExceptions="true"
        convertNoticesToExceptions="true"
        convertErrorsToExceptions="true"
        backupStaticAttributes="false"
        processIsolation="false"
        stopOnFailure="false"
        backupGlobals="false"
        colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <var name="SOME_CONSTANT_CONFIG" value="Test Value" />
    </php>
</phpunit>
